<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535661743183-ed3o6f8k3f1057b482s629cm2oje7nm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535661743183-ed3o6f8k3f1057b482s629cm2oje7nm1</string>
	<key>API_KEY</key>
	<string>AIzaSyB0ZM_MTYRz_p8cR2jhz01TMwS7R7gohG4</string>
	<key>GCM_SENDER_ID</key>
	<string>535661743183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appCompostagem</string>
	<key>PROJECT_ID</key>
	<string>appcompostagem-d0d14</string>
	<key>STORAGE_BUCKET</key>
	<string>appcompostagem-d0d14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535661743183:ios:d1a878776f938cf01cae3a</string>
</dict>
</plist>